.App {
  text-align: center;
}
.appBox {
  border-color: darkblue;
  border-radius: 20px;
  border-style: solid;
  box-shadow: 5px 10px 18px;
  margin: auto;
  max-width: 600px;
}
.searchbar {
  border-color: darkblue;
  border-radius: 10px;
  padding: 2px 5px;
}
.submit {
  border-radius: 10px;
  padding: 2px 5px;
}
