.App {
  text-align: center;
}
.appBox {
  border-color: darkblue;
  border-radius: 20px;
  border-style: solid;
  box-shadow: 5px 10px 18px;
  margin: auto;
  margin-top: 50px;
  max-width: 600px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.searchbar,
.submit,
.currentLocation {
  border-color: darkblue;
  border-radius: 10px;
  color: darkblue;
  font-size: 20px;
  margin-left: 10px;
  padding: 5px 10px;
  transition: 200ms;
}
.submit:hover,
.currentLocation:hover {
  background-color: rgb(1, 1, 112);
  color: white;
  cursor: pointer;
}
h1 {
  color: rgb(0, 0, 71);
}
