.App {
  text-align: center;
}
.appBox {
  border-color: darkblue;
  border-radius: 20px;
  border-style: solid;
  box-shadow: 5px 10px 18px;
  margin: auto;
  margin-top: 50px;
  max-width: 650px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.forecastUnits {
  display: inline;
}
.searchbar,
.submit,
.currentLocation {
  border-color: darkblue;
  border-radius: 10px;
  color: rgb(0, 0, 71);
  font-size: 20px;
  margin-left: 10px;
  padding: 5px 10px;
  transition: 200ms;
}
.submit:hover,
.currentLocation:hover {
  background-color: rgb(1, 1, 112);
  color: white;
  cursor: pointer;
  opacity: 0.7;
}
.units {
  font-size: 14px;
}
footer {
  padding: 10px 10px;
}
h1 {
  color: rgb(0, 0, 71);
  margin-bottom: 20px;
}
ul {
  color: rgb(0, 0, 71);
  font-size: 20px;
  list-style: none;
  padding-top: 10px;
  text-align: center;
}
